.badge-discount {
  margin-left: 8px;
  padding: 2px 8px;
  font-size: 0.8rem;
  color: white;
  background-color: red;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
}

.badge-discount-icon {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  background-color: currentColor;
  border-radius: 2px 2px 2px 0;
  transform: rotate(-45deg);
}

.badge-discount-icon::after {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 3px;
  height: 3px;
  background-color: red;
  border-radius: 50%;
  content: "";
}

.badge-discount.large{
  font-size: 1.5rem;
}

@media (max-width:768px) {
  .badge-discount {
    font-size: 0.7rem;
    padding: 2px 6px;
  }

  .badge-discount-icon {
    width: 0.7rem;
    height: 0.7rem;
  }
}
