.navbar-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(135deg, #4edf00, #b0e57c) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-box {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  gap: 10px;
  width: 200px;
  align-items: center;
  text-decoration: none;
  flex: 0 0 auto;
}

.navbar-logo-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  flex: 0 0 auto;
}

.navbar-logo-name {
  color: white;
  font-family: var(--var-font-family);
  font-weight: var(--var-font-bold);
  font-size: 16px;
  white-space: nowrap;
}

.navbar-logo:hover .navbar-logo-name {
  color: #8d8d8d;
  transition: all 0.1s ease-out;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 0;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 15px;
  padding: 0;
}

.navbar-link {
  color: white;
  font-family: var(--var-font-family);
  text-decoration: none;
  white-space: nowrap;
}

.navbar-link.active {
  color: #6d76f7;
  font-weight: var(--var-font-bold);
}

.navbar-language {
  align-items: center;
  display: flex;
  gap: 6px;
}

.navbar-language-option {
  color: white;
  font-family: var(--var-font-family);
  font-weight: var(--var-font-bold);
  text-decoration: none;
  white-space: nowrap;
}

.navbar-language-option.active {
  color: #6d76f7;
}

.navbar-language-divider {
  color: white;
}

.menu-icon {
  display: none;
  color: white;
  background: transparent;
  border: 0;
  padding: 8px;
}

.menu-icon-symbol {
  position: relative;
  display: block;
  width: 24px;
  height: 18px;
}

.menu-icon-symbol::before,
.menu-icon-symbol::after,
.menu-icon-symbol.open {
  border-top: 3px solid currentColor;
}

.menu-icon-symbol::before,
.menu-icon-symbol::after {
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
}

.menu-icon-symbol::before {
  top: 0;
}

.menu-icon-symbol.open {
  border-bottom: 3px solid currentColor;
}

.menu-icon-symbol.open::after {
  top: 7.5px;
}

.menu-icon-symbol.close::before,
.menu-icon-symbol.close::after {
  top: 8px;
}

.menu-icon-symbol.close::before {
  transform: rotate(45deg);
}

.menu-icon-symbol.close::after {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .navbar-logo {
    width: auto;
  }

  .navbar-logo-name {
    display: none;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  .navbar-menu.active {
    opacity: 1;
    pointer-events: auto;
  }

  .navbar-item {
    margin: 10px 0;
  }

  .navbar-link,
  .navbar-language-option,
  .navbar-language-divider {
    color: white;
  }

  .navbar-link.active,
  .navbar-language-option.active {
    color: #6d76f7;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

}
